language: node_js
node_js:
- 10
services:
- docker
sudo: true
install:
- npm install
- docker build --build-arg DL_LINK=$(node findLink.js v11) -t vdeturckheim/node_nightly:v11 .
- docker build --build-arg DL_LINK=$(node findLink.js v12) -t vdeturckheim/node_nightly:v12 .
- docker build --build-arg DL_LINK=$(node findLink.js v12) -t vdeturckheim/node_nightly:latest .
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker push vdeturckheim/node_nightly:v11
- docker push vdeturckheim/node_nightly:v12
- docker push vdeturckheim/node_nightly:latest
env:
  secure: gIMbi9c+yxGZff03USwbgELo7hNSTIsE16phqZMmvLT2hBpZHheJ3B5b46PvkjoGU3HYmiLItiTIwSZ3RS0Tn1flYsQi+sKE48CK69tAwTRdFTe1aBguxXPgaKtpy22JGr6eGKziq04MW72vD4SRtI6q6L8cdUUUxtOIlq5fCwgyIXUZcfVIVRfBWb2DFx5gIYgpVklUiNp+QF5FnJ/StB219d7pmdKKl3Vi6Bd143co6htwXNebTJQE4F56RE+xJEPfpYAW6/7fJW03aRROE9vNa8qg88lsPBAqAdasiFaKMQhI+QsyNHZDjtZ0nZWZSQemlUgrSBKZDL9i3jqOYYRG6QoI0k3cy44APJEjZMv5gE8376zPsgIi0/mHvLlVeQO349FbqIeWLr7GajWbHSARyUELNLi+pot6rHNRpUmFHqI0bXItEIBPdEFNdWIGITCUTbmTXd+QsPWyexaqqamlNLVTbciwEWpleq9FaElaQukh5CGNefjZeurFJxmGs3VBoDzntdE+oOHgJFEk8bQVwSA46I/hznhP22P1w0seY3wnZzGLGSbDsIhWXullCXb3QHSApZgDdmbAyl6chuOKuZRo7xaLq920bX7fqdEQRFUT+PBtHO2t8DjtAX9cAjyTjTGDstJt9MwUi3ycePdJa92fZnX9iSrcpNrheXQ=
